<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script src="/assets/javascripts/dummyLoad.js"></script>-->
    <script>
    $(document).ready(function(){
        $.getJSON({url: "https://api.guildwars2.com/v2/items/24547", success: function(result){
            $.each(result, function(i, field){
                var list = document.getElementById('ul1');
                var entry = document.createElement('li');
                entry.appendChild(document.createTextNode(i + ": " + field));
                list.appendChild(entry)
            });
        }});
    });
    </script>
</head>
<body>

<h1>Here are the first steps for the calculator</h1>

<h2>Select Armour</h2>

    <ul id="ul1"></ul>
<ul>

</ul>

</body>
</html>